/* CONTOH LOCAL FONT diimport dari /public/fonts */
/* @font-face {
    font-family: 'FarAwayGalaxy';
    src: url('/fonts/FarAwayGalaxy.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
} */